@use '/src/styles/abstracts/mixins/media-queries' as media-queries;
@use '/src/styles/abstracts/mixins/smallcaps' as *;

.quality,
.place {
  &__list {
    display: flex;
    flex-direction: column;
    gap: var(--size-200);

    @include media-queries.size(desktop) {
      flex-direction: row;
      gap: var(--size-200);
    }

    &::after {
      @include media-queries.size(desktop) {
        background-image: url('./assets/shared/desktop/bg-pattern-leaf.svg');
        background-repeat: no-repeat;
        background-size: auto 100%;
        content: "";
        height: calc(var(--size-720) * 2);
        position: absolute;
        width: 100%;
        z-index: -10;
      }
    }
  }

  &__item {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--size-120);
    text-align: center;
  }

  &__background {
    position: relative;
    flex-shrink: 0;

    &::before {
      background-image: url('./assets/shared/desktop/bg-pattern-small-circle.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }
  }

  &__image {
    max-width: 100%;
    height: auto;
  }

  &__text {
    --flow-space: var(--size-80);

    @include media-queries.size(tablet) {
      --flow-space: var(--size-40);
    }

    @include media-queries.size(desktop) {
      --flow-space: var(--size-80);
    }
  }

  &__heading {
    @include smallcaps();
    
    font-size: var(--fs-xl);
    font-weight: var(--fw-bold);
    letter-spacing: var(--size-10);
  }
}

.quality {
  &__background {
    @at-root .quality__item:nth-child(4n) &::before {
      transform: rotate(180deg);
    }

    @at-root .quality__item:nth-child(4n + 2) &::before {
      transform: rotate(270deg);
    }
    @at-root .quality__item:nth-child(4n + 3) &::before {
      transform: rotate(90deg);
    }
  }

  &__list {
    justify-content: space-between;
  
    @include media-queries.size(tablet) {
      gap: var(--size-80);
    }

    &::after {
      @include media-queries.size(desktop) {
        background-position: center left;
        right: 0;
        transform: translateY(8rem) rotate(180deg);
      }
    }
  }

  &__item {
    @include media-queries.size(tablet) {
      flex-direction: row;
      text-align: left;
    }

    @include media-queries.size(desktop) {
      flex-direction: column;
      text-align: center;
    }
  }
}

.place {
  &__background {
    @at-root .place__item:nth-child(4n) &::before {
      transform: rotate(180deg);
    }

    @at-root .place__item:nth-child(4n + 1) &::before {
      transform: rotate(90deg);
    }
    
    @at-root .place__item:nth-child(4n + 3) &::before {
      transform: rotate(270deg);
    }
  }

  &__list {
    justify-content: space-around;

    &::after {
      @include media-queries.size(desktop) {
        background-position: center right;
        right: 0;
        transform: translateY(7rem);
      }

      @at-root .hero[data-type="about"] ~ & {
        @include media-queries.size(desktop) {
          background-position: center right -25rem;
          transform: translateY(12rem);
        }
      }
    }
  }
}