@use '/src/styles/abstracts/mixins/media-queries' as media-queries;

.hero {
  align-items: center;
  background-color: var(--clr-peach);
  background-repeat: no-repeat;
  color: var(--clr-white);
  display: grid;
  justify-items: center;
  padding: var(--size-280) var(--size-60);
  text-align: center;

  @include media-queries.size(tablet) {
    border-radius: var(--size-35);
    padding: var(--size-160) var(--size-280);
  }

  &::after {
    @include media-queries.size(desktop) {
      background-image: url('./assets/shared/desktop/bg-pattern-leaf.svg');
      background-position: top left;
      background-repeat: no-repeat;
      background-size: auto 100%; 
      content: "";
      height: calc(var(--size-720) * 2);
      left: 0;
      position: absolute;
      width: 100%;
      z-index: -10;
    }
  }

  &[data-type="contact"],
  &[data-type="cta"] {
    &::after {
      @include media-queries.size(desktop) {
        content: none;
      }
    }
  }

  &:not([data-type="cta"]) {
    @include media-queries.size(mobile-only) {
      max-width: 100%;
    }
  }

  &[data-type="home"] {
    background-image: url('./assets/home/desktop/image-hero-phone.png'),
                      url('./assets/home/desktop/bg-pattern-hero-home.svg');
    background-position: bottom -22rem center,
                         left center;
    background-size: auto calc(var(--size-960) * 2.3),
                    auto 75%;
    padding-block: var(--size-160) calc(var(--size-560) * 2);

    @include media-queries.size(tablet) {
      background-position: bottom -21.5rem center,
                           right -15% center;
    }

    @include media-queries.size(desktop) {
      background-position: bottom -17rem right -5rem,
                          right center;
      background-size: auto calc(var(--size-960) * 2.5),
                      auto 100%;
      justify-items: start;
      padding-block:  var(--size-280);
      text-align: left;
    }

    &::after {
      @include media-queries.size(desktop) {
        top: 31.25rem;
      }
    }
  }

  &[data-type="web-design"],
  &[data-type="app-design"],
  &[data-type="graphic-design"] {
    background-image: url('./assets/shared/mobile/bg-pattern-design-pages-intro-mobile.svg');
    background-position: top right 60%;
    background-size: auto 180%;
    
    @include media-queries.size(tablet) {
      background-image: url('./assets/shared/tablet/bg-pattern-design-pages-intro-tablet.svg');
      background-position: 25% center;
      background-size: auto 250%;
    }

    @include media-queries.size(desktop) {
      background-position: right center;
    }

    &::after {
      @include media-queries.size(desktop) {
        top: 19.5rem;
      }
    }
  }
  
  &[data-type="web-design"] {
    @include media-queries.size(desktop) {
      background-image: url('./assets/web-design/desktop/bg-pattern-intro-web.svg');
      background-position: right center;
    }
  }

  &[data-type="app-design"] {
    @include media-queries.size(desktop) {
      background-image: url('./assets/app-design/desktop/bg-pattern-intro-app.svg');
      background-position: left -5rem center;
    }
  }

  &[data-type="graphic-design"] {
    @include media-queries.size(desktop) {
      background-image: url('./assets/graphic-design/desktop/bg-pattern-intro-graphic.svg');
      background-position: left -5rem center;
    }
  }

  &[data-type="about"] {
    background-image: url('./assets/about/desktop/bg-pattern-hero-about-desktop.svg');
    background-position: right center;
    background-size: auto 45%;
    padding-block: calc(var(--size-160) + var(--size-800)) var(--size-160);
    overflow: hidden;
    position: relative;
    
    @include media-queries.size(tablet) {
      background-position: left -2rem top;
      background-size: auto 90%;
      padding-inline: var(--size-160);
    }

    @include media-queries.size(desktop) {
      background-position: bottom left;
      background-size: auto 120%;
      grid-template: 1fr / 1fr auto;
      overflow: visible;
      padding-block: var(--size-280);
    }

    &::before {
      background-image: url('./assets/about/mobile/image-about-hero.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      content: "";
      height: var(--size-800);
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    
      @include media-queries.size(tablet) {
        background-image: url('./assets/about/tablet/image-about-hero.jpg');
      }
    
      @include media-queries.size(desktop) {
        background-image: url('./assets/about/desktop/image-about-hero.jpg');
        border-radius: 0 var(--size-35) var(--size-35) 0;
        height: 100%;
        left: unset;
        right: 0;
        width: 40%;
      }
    }

    &::after {
      @include media-queries.size(desktop) {
        transform: translate(calc(50% - 50vw), 25rem);
      }
    }
  }

  &[data-type="contact"] {
    background-image: url('./assets/contact/mobile/bg-pattern-hero-contact-mobile.svg');
    background-position: top left 15%;
    background-size: auto 125%;

    @include media-queries.size(tablet) {
      background-image: url('./assets/contact/desktop/bg-pattern-hero-desktop.svg');
      background-position: top -5rem left -5rem;
      background-size: auto 90%;
      padding-inline: var(--size-160);
    }

    @include media-queries.size(desktop) {
      background-position: bottom left;
      background-size: auto 125%;
      column-gap: var(--size-100);
      grid-template: 1fr 1.5fr / 1fr 1fr;
      padding-inline: var(--size-280);
    }
  }

  &[data-type="cta"] {
    background-image: url('./assets/shared/desktop/bg-pattern-call-to-action.svg');
    background-position: 42.5% center;
    background-size: auto 150%;
    border-radius: var(--size-35);
    padding-block: var(--size-160);

    @include media-queries.size(tablet) {
      background-position: 10% center;
      background-size: auto 175%;
    }

    @include media-queries.size(desktop) {
      background-position: right center;
      background-size: auto 200%;
      grid-template: 1fr / 1fr auto;
    }
  }

  > * {
    &:not([data-type="contact"]) {
      max-width: calc(var(--size-560) * 2);
    }
  }

  &__header {
    font-size: var(--fs-4xl);
    font-weight: var(--fw-bold);
    line-height: 1.125;

    @include media-queries.size(tablet) {
      font-size: var(--fs-5xl);
    }

    &[data-type="about"],
    &[data-type="cta"] {
      @include media-queries.size(desktop) {
        grid-column: 1 / 2;
        justify-self: left;
        text-align: left;
      }
    }

    &[data-type="about"] {

      @include media-queries.size(tablet) {
        max-width: none;
      }
      
      @include media-queries.size(desktop) {
        max-width: calc(var(--size-560) * 2);
      }
    }

    &[data-type="contact"] {
      @include media-queries.size(tablet) {
        justify-self: left;
        text-align: left;
      }

      @include media-queries.size(desktop) {
        align-self: end;
        grid-column: 1 / 2;
        max-width: calc(var(--size-560) * 2);
      }
    }

    &[data-type="cta"] {
      max-width: calc(var(--size-380) * 2);

      @include media-queries.size(tablet) {
        font-size: var(--fs-4xl);
      }
    }
  }

  &__content {
    --flow-space: var(--size-45);

    &[data-type="about"],
    &[data-type="cta"] {
      @include media-queries.size(desktop) {
        grid-column: 1 / 2;
        justify-self: left;
        text-align: left;
      }
    }

    &[data-type="about"] {
      @include media-queries.size(tablet) {
        max-width: none;
      }

      @include media-queries.size(desktop) {
        max-width: calc(var(--size-560) * 2);
      }
    }

    &[data-type="contact"] {
      @include media-queries.size(tablet) {
        justify-self: left;
        text-align: left;
      }

      @include media-queries.size(desktop) {
        align-self: start;
        grid-column: 1 / 2;
        max-width: calc(var(--size-560) * 2);
      }
    }
  }

  &__button {
    --flow-space: var(--size-80);

    &[data-type="cta"] {
      @include media-queries.size(desktop) {
        --flow-space: 0;
      
        grid-column: 2;
        grid-row: 1 / 3;
        justify-self: right;
      }
    }
  }
}